.name {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.singleName {
  background-color: #c6f8ff;
  padding: 1rem;
  border-radius: 15px;
  transition: 0.25s;
}
.singleName:hover {
  transform: scale(1.1);
  -webkit-box-shadow: -3px 0px 41px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px 0px 41px 4px rgba(0, 0, 0, 0.75);
  box-shadow: -3px 0px 41px 4px rgba(0, 0, 0, 0.75);
}
