.post {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.singlePost {
  background: hsla(46, 73%, 75%, 1);

  background: linear-gradient(
    90deg,
    hsla(46, 73%, 75%, 1) 0%,
    hsla(176, 73%, 88%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(46, 73%, 75%, 1) 0%,
    hsla(176, 73%, 88%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(46, 73%, 75%, 1) 0%,
    hsla(176, 73%, 88%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EED991", endColorstr="#CCF7F4", GradientType=1 );
  padding: 1rem;
  border-radius: 15px;
  transition: 0.25s;
}
.post {
  margin-top: 15px;
}
.singlePost:hover{
    transform: scale(1.1);
    -webkit-box-shadow: -3px 0px 41px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -3px 0px 41px 4px rgba(0, 0, 0, 0.75);
    box-shadow: -3px 0px 41px 4px rgba(0, 0, 0, 0.75);
}